<ion-header>
  <ion-toolbar>
    <ion-title>
      <span class="header-title">
        Calculatrice
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
      <div class="screen">
        <ion-label class="screen-text">{{ecran}}</ion-label>
      </div>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row *ngFor="let btns of grid let last = last">
            <ion-col [size]="last ? 4 : 3" *ngFor="let btn of btns">
              <div>
                <ion-button (click)="doSomeThings(btn)" color="dark" [style.width.px]=" last? 105 : 80" [style.font-size.px]="20">{{btn}}</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

</ion-content>
